body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    font-family: sans-serif;
    background: url(https://images.unsplash.com/photo-1444930694458-01babf71870c?q=80&w=1563&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    overflow: hidden;
}
h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 25px;
    text-align: center;
    color: #fff;
}
.clock{
    display: flex;
}
.clock div{
    margin: 5px;
}
.clock span{
    width: 100px;
    height: 80px;
    background-color: green;
    opacity: .8;
    color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.clock .text{
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: darkgreen;
}
.clock #ampm{
    bottom: 35%;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background: rebeccapurple;

}
#time-format {
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background-color: rebeccapurple;
    color: #fff;
    cursor: pointer;
    outline: none; 
}

